:root {
    --color-info: #ffffff;
}

.img1 {
    width: 40px;
    height: 40px;
}

.img2 {
    width: 260px;
    height: 400px;
}

.wrapper {
    font-family: 'Montserrat', sans-sherif;
    color: #000000;
    overflow: hidden;
    display: flex;
    justify-content: end;
    padding: 5px;
}

.card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 10px -5px #0f2027;
    margin: 0 20px;
    width: 70%;
}

.card2 {
    position: relative;
    overflow: hidden;
    margin: 0 5px;
    width: 30%;
    box-shadow: 0 5px 10px -5px #0f2027;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.description {
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.card .image img {
    display: block;
    width: 100%;
    height: 100%;
}

.card .title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: right;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7) 50%);
    padding: 10px 10px 10px;
    font-size: 2rem;
}

.card .author {
    font-size: 0.8rem;
    opacity: 0.6;
}

/* ======================= */

.info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 25px;
    cursor: help;

    clip-path: circle(5% at 89% 9%);
    transition: background-color 500ms ease-in-out, clip-path 500ms ease-in-out;
}

.info:hover {
    background-color: var(--color-info);
    clip-path: circle(70%);
}

.info .icon {
    position: absolute;
    right: 30px;
    top: 30px;
    font-weight: 700;
    font-size: 1.1rem;

    transition: color 500ms;
}

.info:hover .icon {
    color: var(--color-info);
}
