.cardWrapper{
  display:flex;
  flex: 45;
  flex-direction: column;
  justify-content: stretch;
  padding: 25px;
}

.mainClass {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.medical {
  display: flex;
  flex: 50;
  flex-direction: column;
  justify-content: start;
  padding: 10px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.date {
  width: 150px;
}

.cardMain {
  flex: 55;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 30px -10px #0f2027;
  margin: 0 10px;
}

.card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 30px -10px #0f2027;
  margin: 0 10px;
}

